body {
    background-color: teal;
}

h1 {
    text-align: center;
}

h2 {
    color:rgb(81, 255, 0);
    text-align: center;
}

#memeForm {
    border: 2px solid rgb(115, 0, 255);
    text-align: center;
    width: 332px;
    margin: 0 auto;
    padding: 20px;
}

label {
    margin-bottom: 6px;
    width: 250px;
    display: inline-block;
    padding-bottom: 10px;
}